#maindiv{
    height: 200vh;
    width: 75%;
    margin: auto;
    background-color: white;
}
#singlebox{
     width: 100%;
     height:330px ;
     display: flex;
     justify-content: center;
     text-align: left;
     background-color: #263947;
     color: white;
    }

#singlediv{
    margin-right: 80px;
    margin-top: 50px;

}  
 #singlediv > h1{
    font-weight: bold;
   font-size: x-large;
    margin-bottom: 10px;
 }
 #singlediv >h2{
    margin-bottom: 5px;
 }  
 #singlediv img{
    width: 40px;
     height: 20px;  
     margin-right: 8px; 
}
#singlediv div{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 5px;
}
#singlediv h3{
    font-weight: bold;
    font-size: 17px;
}
#singlediv p{
    font-size: small;
    font-weight: 400;
    margin-bottom: 10px;
}
#singlediv2{
    margin-top: 50px;
}
#singlediv2 img{
     height: 100%;
     width: 210px;
}
#carrerbox{
     display: flex;
     justify-content: space-around;
     margin-top: 8px;
     margin-bottom: 8px;

}
#carrerbox p{
    font-weight: 400;
    cursor: pointer;
}

#status{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#status div{
    width: 150px;
    height: 30px;
    background-color:#A70E13;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: small;
    font-weight: 400;
    padding-top: 4px;
    margin-left: 10px;
    cursor: pointer;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
  }
  th{
    background-color: whitesmoke;
  }
  
  td, th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding-left: 35px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    font-size: 15px;
  }
  tr > td:nth-child(1) {
    font-weight: bold;
  }
  #padding {
    background-color: whitesmoke;
    padding-top: 15px;
  }
  #similar{
     box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
     padding: 0;
  }
  #similardiv{
    font-weight: 600;
    font-size: large;
    text-align: left;
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 12px;
  }
  #similarimg{
    height: 220px;
    display: flex;
    justify-content: space-around;
  }
#similarimg div{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
}
#similarimg div div{
    background-color: whitesmoke;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    margin-right:10px;
}
#similar div div img{
    width: 80%;
    height: 90%;
    align-items: center;  
    margin-left: 10px;
    margin-top: 10%;  
    
}
#similardiv{
    border-bottom:1px solid black ;

}
#detailbox{
    height: 100px;
   
}

#detailbox h3{
    color: #A70E13;
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: small;
    font-weight: 600;
}

#detailbox h2{
    text-align: right;
    color: #A70E13;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
    font-size: small;
    font-weight: 600;
}
.detail-pbox{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    scroll-behavior: smooth;
    font-family: Montserrat;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: .75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    
}