* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  display: flex;
  align-items: center;
  background-color: rgba(23, 33, 50, 255);
  height: 130px;
}

.div_1 {
  margin-left: 7vw;
  font-family: Montserrat;
  color:#6a6e6f;
}

.div_1 p {
  font-size: .75rem;
  color:#6a6e6f;
}

.div_2 {
  margin-left:12vw;
  
  font-family: Montserrat;
  font-size: .65rem;
}

.div_2 a {
  color:#6a6e6f;
  text-decoration: none;
  margin-left: 18px;
  font-size: 14px;
 
}

.div_2 a:hover {
  color: orangered;

}

.div_3 {
  margin-left: 13vw;
  font-family: Montserrat;
  font-size: .75rem;
  color:#6a6e6f;
  

}

.bfooter{
  display: flex;

  align-items:center;
  justify-content: space-between;
  box-shadow: 0 0 4px 2px rgb(0 0 0 / 20%);
}
.sbfooter{
 
  font-family: Montserrat;
  font-size: 10px;
 

/* flex-direction: column; */
justify-content: center;
align-items: center;
margin: auto;
}
.sbfooter img{
  margin: auto;
}
.sbmfooter{

  font-family: Montserrat;
  font-size: 12px;
}
.sbmfooter img{
  margin: auto;
  margin-top:-15px ;
  border-radius: 90%;
  box-shadow: 0 0 4px 2px rgb(0 0 0 / 20%);
}
.imgiside{
   
 
}
.icons{
 
  display: flex;
  justify-content: space-around;
  gap: 15px;
}
.iconsbox{
  margin-bottom: 5px;
  
  /* border: 1px solid red; */
  height: 23px;
  font-family: Montserrat;
  font-size: 10px;
  margin-left: 90px;
  display: flex;
 justify-content: space-evenly;
}
.iconsbox p{
  
  font-size: .65rem;
  
}


